@charset "UTF-8";

.container {
	width: 70%;
}

.table {
	text-align: center; 
	border: 1px; 
	solid: #dddddd;
}

thead th {
	background-color: #006DCC;
	color: white;
	text-align: center;
}

.tdStyle {
	width: 110px;
}

.tdBtnStyle {
	text-align: right;
}

#successMessage {
	display: none;
}

/* tr td:first-child,
tr th:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
tr td:last-child,
tr th:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
} */