@charset "UTF-8";

.container {
	width: 70%;
}

.table {
	border: 1px; 
	solid: #dddddd;
}  

thead th {
	background-color: #006DCC;
	color: white;
	text-align: center;
}

.tdStyle {
	background-color: #fafafa; 
	color: #000000; 
	width: 80px;
	text-align: center;
}

.tdStyleContent {
	verticle-align: middle; 
	min-height: 150px; 
	background-color: #fafafa; 
	color: #000000; 
	width: 80px;
	text-align: center;
} 

/* tr td:first-child,
tr th:first-child {
 	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
tr td:last-child,
tr th:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
} */